@import "variables";

.container {
  .bannerContainer {
    width: 100%;
    height: 150px;
    background-color: $desaturated-dark-cyan;

    .deskImg {
      display: block;
      width: 100%;
      height: 150px;
      @media screen and (max-width: $mobile) {
        display: none;
      }
    }
    .mobileImg {
      display: none;
      @media screen and (max-width: $mobile) {
        display: block;
      }
    }
  }

  .main {
    max-width: 1040px;
    width: calc(100% - 5rem);
    margin: 30px auto;
    margin-top: 40px;

    @media screen and (max-width: $almost-mobile) {
      margin-top: 60px;
    }
    @media screen and (max-width: $mobile) {
      width: calc(100% - 2rem);
    }
  }
}
